# .gitignore

# Ignorar el archivo de configuración de variables de entorno
.env

# Ignorar archivos .pyc generados por Python
*.pyc
__pycache__/

# Ignorar carpetas de dependencias de Python
venv/
.venv/

portafolio/setting.py
